html {
  background: #cc6600;
  color: #aaa;
  margin: 0;
  padding: 0;
  color: #aaa;
  font: 14px/1 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	margin: 0;    
	background: #cc6600;                        
}

h1 {
	text-align:center;
	color: #FFFFE0;
	font-size: 6em;
	text-shadow: 4px 4px 4px #000;
	line-height: 1.2; 
	margin-bottom: 1.0em;
	word-spacing: 0em;
	font-family: 'Pacifico', arial, serif;;
} 

#container {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -450px;
  margin-top: -180px;
  width: 960px;
}

a {
  font-weight: bold;
  color: #ccc;
}

a:hover {
  color: #fff;
}  

ul li {
	list-style: none;
	float:left;
	
} 

.photo_wrapper {
  overflow: hidden;
}

.photo {
  -moz-border-radius: 20px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  color: rgba(255, 0, 0, 0, 0.2);
  overflow: hidden;
  padding:5px;
  margin:5px;
  width: 150px;  
  height: 150px;
  opacity: 1;  
  cursor: pointer;

} 

.photo:hover {
	opacity: .8;
} 


footer {
  z-index: 50;
  position: relative;
  bottom: 0;
  margin-top: 1000px;
  background: #8B4513;
  width: 100%;
  min-width: 960px;
  overflow: hidden; 
  border-top: 2px solid rgb(48, 48, 48);
  padding: 10px 0;
}

footer p {
  text-align:center;
  font-size: 15px;
  line-height: 20px;
  margin-right: 10px;
}   


