html {
  background: #cc6600;
  color: #aaa;
  margin: 0;
  padding: 0;
  color: #aaa;
  font: 14px/1 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	margin: 0;    
	background: #cc6600;                        
}

h1 {
	text-align:center;
	color: #FFFFE0;
	font-size: 6em;
	text-shadow: 4px 4px 4px #000;
	line-height: 1.2;
	word-spacing: 0em;
	font-family: 'Pacifico', arial, serif;;
} 

#container {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -238px;
  margin-top: -180px;
  width: 476px;
  height: 360px;
}

a {
  font-weight: bold;
  color: #ccc;
}

a:hover {
  color: #fff;
}  

ul li {
	list-style: none;
	
} 





#footer {
  z-index: 50;
  position: absolute;
  bottom: 0;
  background: #8B4513;
  width: 100%;
  min-width: 960px;
  overflow: hidden; 
  border-top: 2px solid rgb(48, 48, 48);
  padding: 10px 0;
}

#footer p {
  text-align:center;
  font-size: 15px;
  line-height: 20px;
  margin-right: 10px;
}